/* CSS for forms */
.form_c1 {
    /* 1 column grid */
    display: grid;
    grid-template-columns:   1fr;
    grid-gap: var(--grid-gap);
}

.form_row {
    /* nested grid in gallery (4 columns) */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
}

.form_actions {
    /* nested grid in #actions (1 row with 2 columns) */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1, 1fr);
    /* content alignment */
    align-items: center;
    justify-items: center;
}

.form_c1 INPUT, .form_c1 SELECT {
    width: 100%;
    min-height: var(--input-height);
}

DIV.form_label {
    display: none;
}

.form_c1 BUTTON,
.form_actions BUTTON {
    min-width: var(--input-height);
    min-height: var(--input-height);
}
