/* Navigation bar */

#nav_bar {
    align-items: center;
    color: var(--color-lightest);
    display: grid;
    font-size: var(--font-size-large);
    grid-template-areas: "left" "center" "right";
    grid-template-columns: var(--layout-navbar-height) 1fr var(--layout-navbar-height);
    grid-template-rows: var(--layout-navbar-height);
    justify-items: center;
}


#nav_bar_center {
}

#nav_bar_right {
    color: var(--color-lightest);
}


#menu_left, #menu_right {
    background-color: var(--color-darker);
    max-height: calc(100% - var(--layout-navbar-height));
    max-width: 50%;
    padding: 10px;
    position: fixed;
    top: var(--layout-navbar-height);
    border: 1px solid var(--color-darkest);
    border-radius: 3px;
}

#menu_left {
    left: 0;
}

#menu_right {
    right: 0;
}

#menu_left DIV, #menu_right DIV {
    margin: 20px;
}

@media screen and (min-width: 600px) {

    #menu_left, #menu_right {
        max-width: calc(var(--size-layout-tablet) / 2);
    }

    #menu_left {
        left: calc(50% - (var(--size-layout-tablet) / 2));
    }

    #menu_right {
        right: calc(50% - (var(--size-layout-tablet) / 2));
    }
}
