/* Main color variables (by intensity) */
:root {
    --color-back-dark: #422c2a;
    --color-back-light: #c1433b;
    --color-back-main: #f9efed;
    --color-back-top-dark: #e6d6d3;
    --color-back-top: #f1e7e4;
    --color-front-light: #f1e7e4;
    --color-front-main: #422c2a;
    --color-front-placeholder: #c1807c;
    --color-front-top: #c1433b;
}

/* Filter generator: https://codepen.io/sosuke/pen/Pjoqqp */

.filter-dark {
    filter: invert(11%) sepia(5%) saturate(4687%) hue-rotate(316deg) brightness(108%) contrast(81%);
}

.filter-light {
    filter: invert(35%) sepia(47%) saturate(2223%) hue-rotate(335deg) brightness(81%) contrast(85%);
}

.filter-main {
    filter: invert(93%) sepia(2%) saturate(1601%) hue-rotate(317deg) brightness(104%) contrast(89%);
}

.filter-top-fg {
    filter: invert(52%) sepia(3%) saturate(2695%) hue-rotate(315deg) brightness(102%) contrast(81%);
}

HTML, BODY {
    background-color: var(--color-back-main);
    color: var(--color-front-main);
}

HEADER {
    background-color: var(--color-back-dark);
    color: var(--color-front-light);
}

A, A:visited {
    color: var(--color-front-main);
}

#breadcrumb {
    background-color: var(--color-back-dark);
}

#menu_system {
    background-color: var(--color-back-dark);
}

.btn {
    background-color: var(--color-back-dark);
    color: var(--color-front-light);
}

::placeholder {
    color: var(--color-front-placeholder);
}

BUTTON {
    background-color: var(--color-back-light);
    color: var(--color-front-light);
}

INPUT, SELECT, TEXTAREA {
    background-color: var(--color-back-main);
    color: var(--color-front-main);
}
