/* Main color variables (https://www.w3schools.com/colors/colors_monochromatic.asp) */
:root {
    --color-base: #d61a46;
    --color-darker: #7b0f28;
    --color-darkest: #340913;
    --color-lighter: #ec6988;
    --color-lightest: #fbdfe6;
}

/* reset icons color to apply filters right */
SVG {
    color: black;
}

/* Filter generator: https://codepen.io/sosuke/pen/Pjoqqp */


/* #fbdfe6 */
.filter-lightest {
    filter: invert(79%) sepia(15%) saturate(267%) hue-rotate(298deg) brightness(113%) contrast(97%);
}

/* #ec6988 */
.filter-lighter {
    filter: invert(60%) sepia(87%) saturate(1750%) hue-rotate(305deg) brightness(94%) contrast(96%);
}

/* #d61a46 */
.filter-base {
    filter: invert(22%) sepia(79%) saturate(4949%) hue-rotate(336deg) brightness(85%) contrast(96%);
}

/* #7b0f28 */
.filter-darker {
    filter: invert(12%) sepia(83%) saturate(2977%) hue-rotate(331deg) brightness(82%) contrast(100%);
}

/* #340913 */
.filter-darkest {
    filter: invert(5%) sepia(34%) saturate(7468%) hue-rotate(333deg) brightness(83%) contrast(97%);
}
