/* Define default values for CSS variables */
:root {
    --font-size-large: 20px;
    --grid-gap: 10px;
    --icon-size-l: 128px;
    --icon-size-m: 64px;
    --icon-size-s: 32px;
    --input-height: 40px;
    --layout-navbar-height: 70px;
}
