/* Main color variables (https://www.w3schools.com/colors/colors_monochromatic.asp) */
:root {
    --color-base: #66b032;
    --color-darker: #375f1b;
    --color-darkest: #1b3409;
    --color-lighter: #9bd770;
    --color-lightest: #ebf7e3;
}

/* reset icons color to apply filters right */
SVG {
    color: black;
}

/* Filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
/* #EBF7E3 */
.filter-lightest {
    filter: invert(88%) sepia(8%) saturate(100%) hue-rotate(64deg) brightness(0%) contrast(94%);
}

/* #9BD770 */
.filter-lighter {
    filter: invert(94%) sepia(8%) saturate(100%) hue-rotate(38deg) brightness(0%) contrast(99%);
}

/* #66B032 */
.filter-base {
    filter: invert(54%) sepia(97%) saturate(343%) hue-rotate(52deg) brightness(94%) contrast(85%);
}

/* #375F1B */
.filter-darker {
    filter: invert(27%) sepia(94%) saturate(366%) hue-rotate(52deg) brightness(92%) contrast(90%);
}

/* #1B3409 */
.filter-darkest {
    filter: invert(14%) sepia(17%) saturate(3958%) hue-rotate(60deg) brightness(92%) contrast(93%);
}

