/* Layout related styles (common for all routes). */
@import "layout/navig.css";

.app {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:  100%;
    min-height: 100%;
    min-width: 100%;
}

.layer_base {
    margin-top: var(--grid-gap);
    position: relative;
    top: var(--height-top-bar);
    width: 100%;
    will-change: transform;
    z-index: 0;
}

.layer_navigation {
    background-color: var(--color-lightest);
    height: var(--height-top-bar);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: 1000;
}

#layer_overlay {
    /*align-items: center;*/
    /*justify-items: center;*/
    background-color: var(--color-lightest);
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns:1fr;
    grid-template-rows:  auto 1fr;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 500ms;
    visibility: hidden;
    width: 100%;
    z-index: 2000;
}

.layer_overlay_close {
    /*align-self: center;*/
    justify-self: end;
}

.layer_overlay_content {
    justify-self: center;
    overflow: scroll;
}

.layer_notification {
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: 3000;
}

.layout_centered {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns:100%;
    grid-template-rows:  100%;
    align-items: center;
    justify-items: center;
}
