/* Table/grid related styles */

/* Vertical alignment for DIVs:  https://stackoverflow.com/questions/9249359/vertically-align-text-within-a-div */

.grid {
    align-content: center;
    display: grid;
    gap: var(--grid-gap-small);
    grid-gap: var(--table-gap);
}

.headCell {
    background-color: var(--color-darkest);
    color: var(--color-lightest);
    line-height: var(--table-row-height);
    text-align: center;
    vertical-align: middle;
}

.dataCell {
    line-height: var(--table-row-height);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.gridSerivces {
    grid-template-columns: auto 3fr 1fr 1fr;
}

.gridUsers {
    grid-template-columns: auto 2fr 1fr 3fr;
}

/* DEPRECATED STYLES */
.table {
    color: var(--color-darkest);
    display: grid;
    grid-auto-flow: row;
    grid-gap: var(--table-gap);
    margin-top: var(--table-gap);
}

.table-actions {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    align-self: center;
    justify-self: end;
}

.table-filters {
    display: none;
}

.table-head {
    background-color: var(--color-lightest);
    /* alignment*/
    min-height: var(--table-row-height);
    align-items: center;
    justify-items: center;
    /* grid */
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--table-gap);
}

.table-body {
    display: grid;
    grid-auto-flow: row;
    grid-gap: var(--table-gap);
}

.table-row {
    /* alignment*/
    min-height: var(--table-row-height);
    align-items: center;
    justify-items: center;
    /* grid */
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--table-gap);
    border: 2px solid var(--color-lightest);
    border-radius: 5px;
}
