/* Define default values for CSS variables */
:root {
    --color-back-dark: #422c2a;
    --color-back-light: #c1433b;
    --color-back-main: #f9efed;
    --color-back-top-dark: #e6d6d3;
    --color-back-top: #f1e7e4;
    --color-bright: #c1433b;
    --color-front-light: #f1e7e4;
    --color-front-main: #422c2a;
    --color-front-placeholder: #c1807c;
    --color-front-top: #c1433b;
    --font-size-large: 20px;
    --grid-gap: 10px;
    --icon-size-l: 120px;
    --icon-size-m: 60px;
    --icon-size-s: 30px;
    --input-height: 40px;
    --layout-actions-bar-height: 50px;
    --height-top-bar: 70px;
    --table-gap: 5px;
    --table-row-height: 40px;
}
