/* Define default values for CSS variables */
:root {
    --font-size-large: 20px;
    --grid-gap-small: 1px;
    --grid-gap: 5px;
    --height-top-bar: 70px;
    --icon-size-l: 120px;
    --icon-size-m: 60px;
    --icon-size-s: 30px;
    --input-height: 40px;
    --layout-actions-bar-height: 50px;
    --table-gap: 5px;
    --table-row-height: 40px;
    --padding-cell: 5px;
}
